.pchild {
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.card {
  background: #ffffff; /* White background for the card */
  border-radius: 8px; /* Rounded corners */

  width: 100%; /* Responsive width */
  max-width: 300px; /* Maximum width */
  overflow: hidden; /* Ensures no content spills out */
  margin: 10px; /* Margin around the card */
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%; /* Makes the image cover the card width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Removes bottom space/gap */
}

.pname {
  padding: 10px 30px; /* Padding inside the name container */
  background: #ff6d76; /* Light grey background */
  text-align: center; /* Center the text */
  /* Larger text size */
  color: #d54b4f; /* Dark grey text color */
  margin: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.pname p {
  margin: 0;
  font-size: 1em;
}
.call,
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; /* Horizontal padding */
  margin-top: 5px;
}

/* @media (max-width: 768px) {
  .card {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
} */
@media (max-width: 480px) {
  /* .card {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: auto;
  }
  .card img {
    display: block;
  }
  .pchild {
    width: 300px;
  } */
}
@media (max-width: 375px) {
  .card {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
