.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  box-sizing: border-box;
}
.logo img {
  width: 150;
  height: 110px;
}
.h-search {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
.ser {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #374252;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.h-search input {
  border-radius: 5px;
  width: 200px;
  height: 38px;
  color: #000;
  border-radius: 10px;
  background: rgba(149, 155, 167, 0.15);
  border: none;
  padding: 0px 50px 0 20px;
  outline: none;
}
.h-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  gap: 10px;
  font-weight: 500;
}
.h-button a {
  text-decoration: none;

  font-size: 15px;
  color: #00a591;
}
.h-button a:hover {
  color: red;
}
.h-imge {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: #ff6d72;
  color: #fff;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  text-align: center;
  width: 123px;
  height: 44px;
}
@media (max-width: 480px) {
  .h-search {
    display: none;
  }
  .h-button a {
    display: none;
  }
  .header {
    justify-content: space-between;
    overflow-x: hidden;
    gap: 10px;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 768px) {
  .h-search {
    display: none;
  }
  .h-button a {
    display: none;
  }
  .header {
    justify-content: space-between;
    overflow-x: hidden;
    gap: 10px;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}
