.second {
  display: flex;
  padding: 10px 200px;
  margin-top: 30px;
  min-height: 40vh;

  justify-content: center;
  align-items: center;
}
.second img {
  height: auto;
  width: 100%;
}
.sec {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .second {
    padding: 10px;
    font-size: 1em;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .second {
    margin: 0;
    padding: 10px;
    font-size: 1em; /* Even smaller text for phones */
    /* Adjust position to be more visible */
  }
}
